
body {
  background: url("img/fundo.jpg") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}

.navbar-header button {
  color:white;

}

.navbar-cor-fundo {
  background-color: rgba(252,4,4,0.3);
  box-shadow: 0 0 10px black;
}

.navbar-nav li a {
  color:white;
}

.navbar-brand {
  padding: 5px;
}
