
.pesquisa {

  background:url("img/spr.jpg");
  width:90px;
  height:90px;
  background-position:-130px -202px;

}

.edita {

  background:url("img/spr.jpg");
  width:90px;
  height:90px;
  background-position:-118px -35px;

}
